<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="NorthwindEntities" connectionString="metadata=res://*/Database.Northwind.csdl|res://*/Database.Northwind.ssdl|res://*/Database.Northwind.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOPNICK\SQLEXPRESS;initial catalog=Northwind;persist security info=True;user id=sa;password=P@55w0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>