
@{
    ViewBag.Title = "Department x";
    Layout = "_Layout";
}

<h2>Department</h2>
<div class="row">
    <div class="col-md-6">
        @Html.AntiForgeryToken()
        <label>
            Department Name:
            <input id="companyName" name="companyName" value="" />
        </label>
        <input type="button" value="Click Me!" onclick="GetDepartmentsSections(document.getElementById('companyName').value);" />
    </div>
</div>
@section Scripts
    {
    <script>
        function GetDepartmentsSections(name) {
            var myData = {
                companyName: name
            };
            $.ajax({
                headers: {
                    "RequestVerificationToken": document.getElementsByName('__RequestVerificationToken')[0].value
                },
                url: "/Department/Get_Department_Section",
                dataType: 'json',
                type: "POST",
                data: myData,
                success: function (data) {
                    data.forEach(function (element) {
                        console.log(element);

                    });
                },
                error: function () {

                }
            });
        }

    </script>
}