@model Playground.ASPNETCORE.Controllers.Employee

@{
    ViewBag.Title = "Employee";
    Layout = "_Layout";
}

<form asp-controller="SaveImage" asp-action="Create" enctype="multipart/form-data">
    <input asp-for="Name" type="text" />
    <input asp-for="ImageUrl" type="file" />
    <input type="submit" value="submit" />
</form>